---
title: Vacancies
layout: 'base.njk'
---

        <div style="color: white; background-image: url('/assets/images/vacancies-darkened.JPG'); background-size: cover; background-position: center; background-repeat: no-repeat; font-size: 2rem; padding: 10vw;">
          <p>Occasionally vacancies come up, so if you are interested in working for a small friendly Scottish company, based in Troon, operating on the West Coast please send in your CV.</p>
          <p>STCW95 tickets required for the Red Princess.</p>
        </div>