---
title: Our Vessels
layout: 'base.njk'
---

        <style type="text/css">
          .modal-toggle
          {
            display: none;
          }
          
          #modal-toggle-coming-soon:checked ~ #modal-coming-soon
          {
            display: block;
          }
        </style>
        
        <input type="checkbox" id="modal-toggle-coming-soon" class="modal-toggle">
        
        {% for vessel in collections.vessel %}
          <div class="w3-row{% if loop.index % 2 === 0 %} w3-light-gray{% endif %}">
            <div class="w3-col l5{% if loop.index % 2 === 0 %} w3-show-small w3-show-medium w3-hide-large{% endif %}">
              <img src="{{ vessel.data.image }}" alt="Image of {{ vessel.data.name }}" class="w3-image">
            </div>
            
            <div class="w3-col l7 w3-padding-large w3-padding-32">
              <p class="w3-xxlarge" style="margin: 0"><b>{{ vessel.data.name }}</b></p>
              <p class="w3-medium w3-text-gray"><i>{{ vessel.data.type }}</i></p>
              <p>
                <a href="{{ vessel.data.spec }}" class="w3-button w3-dark-gray w3-hover-dark-gray w3-hover-opacity w3-border-dark-gray w3-border">Vessel Spec</a>
                <label for="modal-toggle-coming-soon" class="w3-button {% if loop.index % 2 === 0 %}w3-white{% else %}w3-light-gray{% endif %} w3-hover-light-gray w3-hover-opacity w3-border-dark-gray w3-border">Photo Gallery</label>
              </p>
            </div>
            
            {% if loop.index % 2 === 0 %}
            <div class="w3-col l5 w3-hide-small w3-hide-medium w3-show-large">
              <img src="{{ vessel.data.image }}" alt="Image of {{ vessel.data.name }}" class="w3-image">
            </div>
            {% endif %}
          </div>
        {% endfor %}
        
        <div id="modal-coming-soon" class="w3-modal w3-center">
          <div class="w3-modal-content w3-black">
            <div class="w3-container">
              <label for="modal-toggle-coming-soon" class="w3-button w3-display-topright w3-black w3-hover-red">×</label>
              <p>Vessel Gallery Coming Soon</p>
              <p><label for="modal-toggle-coming-soon" class="w3-button w3-dark-gray">Close</label></p>
            </div>
          </div>
        </div>